.container {
  text-align: center;
}

h1 {
  background-color: #bfedf5;
}

h2 {
  color: #249ded;
  margin: 5px;
}

#email {
  color: blue;
}

hr {
  border-top: 2px solid #c8cecf;
}

p {
  margin: 6px;
}
